-- Add gender field to bookings table
ALTER TABLE public.bookings
ADD COLUMN IF NOT EXISTS gender TEXT DEFAULT 'male' CHECK (gender IN ('male', 'female'));

-- Create index for gender queries
CREATE INDEX IF NOT EXISTS idx_bookings_gender ON public.bookings(gender);